.imagem-carrossel {
  object-fit: cover;
  object-position: 0 45%;
  height: 500px;
}

.fonte-titulo {
  font-family: 'Pacifico', cursive;
}

.texto-cor-especial {
  color: darkred;
}

.image-largura{
  max-width: 22rem;
}

.image-about {
  object-fit: cover;
  object-position: 30%;
  height: auto;
} 


.botao-cor-especial {
  background-color: darkred;
  color: white;
}

.borda-cor-especial {
  border-color: darkred;
}

.card-largura {
  max-width: 22rem;
}

.card-posicao-imagem {
  object-fit: cover;
  object-position: 50% 50%;
  height: 200px;
}
